@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,300;0,400;0,500;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@500;600;700&family=Poppins:wght@500;600;700;800&family=Rufina:wght@400;700&family=Work+Sans:wght@400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Work Sans", sans-serif;
}

body {
  font-family: "Roboto Mono", sans-serif;
  color: #252525;
  font-weight: 400;
  background-color: #f7f2e9;
  min-height: 100vh;
  background: white;
  overflow-x: hidden;
}

.header {
  height: 15rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--bg);
  z-index: 1;
  margin-bottom: 20px;
  width: 100%;
  position: fixed;
  top: 0px;
}

.header .logo {
  width: 10%;
  height: 6rem;
}

.navbar-lists {
  display: flex;
  gap: 4.8rem;
  list-style: none;
}

.navbar-link:link,
.navbar-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bolder;
  text-transform: uppercase;
  color: #212529;
  transition: all 0.3s;
  font-family: "Poppins", sans-serif;
}

.navbar-link:hover,
.navbar-link:active {
  color: var(--helper);
}

.news-template {
  margin: 0;
  padding: 0;
  margin: 3rem;
  height: 400px;
  width: 300px;
  background-image: url("./malware.jpg");
  position: relative;
  border-radius: 10px;
  border: 3px solid black;
}

.newsimg {
  height: 350px;
}

.newsimg-image {
  width: 100%;
  height: 350px;
  object-fit: cover;
}

.app {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
}

.content {
  bottom: 60px;
  left: 10px;
  color: black;
  height: 100px;
  background-color: rgb(63, 56, 56);
  font-size: 6px;
  color: white;
  border-left: 3px solid black;
  border-top: 3px solid black;
  border-right: 3px solid black;
}

.b2 {
  position: absolute;
  color: white;
  background-color: rgb(63, 56, 56);
  height: 50px;
  width: 100%;
  border-left: 3px solid black;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
button {
  width: 50px;
  height: 50px;
  border: none;
  background: transparent;
  color: white;
}

.b2 .b2b2 {
  margin-left: 10px;
}
.b2b1 {
  color: white;
}
.b2b2 {
  color: white;
  z-index: 0;
}

.b2 .b2b1 span {
  color: black;
}

.b2 .b2b2 span {
  color: black;
}

.newsout {
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  transition: transform 3s ease;
  height: 700px;
  gap: 11px;
  z-index: 0;
}

.next {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 450px;
  right: 0px;
  background-color: white;
  align-items: center;
  border-radius: 2px;
  z-index: 1;
}
.next span {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.prev {
  position: absolute;
  width: 30px;
  height: 50px;
  top: 450px;
  left: 0;
  background-color: white;
  align-items: center;
  border-radius: 2px;
  margin-right: 20px;
  z-index: 1;
}
.prev span {
  display: flex;
  align-items: center;
  margin-right: 5px;
}
.b2b1 {
  width: 30px;
  height: 30px;
}

.no {
  background-color: white;
  font-size: small;
  margin-top: 18rem;
}
.pimg {
  margin-left: 0px;
}

.con {
  width: 100%;
  height: 10px;
  background-color: beige;
}

:root {
  --heading: rgb(0 10 45);
  --para-tint: #e4e4e4;
  --third: #fff;
  --helper: #8490ff;
  --helper-tint: #f3f4ff;
  --bg: rgb(249 249 255);
  --gradient: linear-gradient(0deg, rgb(132 144 255) 0%, rgb(98 189 252) 100%);
  --shadpw: 0px 0px 20px 0px rgb(132 144 255 / 20%);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  max-width: 140rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9rem;
}

.grid-two-col {
  grid-template-columns: repeat(2, 1fr);
}

.grid-three-col {
  grid-template-columns: repeat(3, 1fr);
}

.grid-four-col {
  grid-template-columns: repeat(4, 1fr);
}

.mobile-nav-icon[name="close-outline"] {
  display: none;
}

.material-icons {
  width: 8rem;
  height: 8rem;
  background-color: rgb(144 172 209 / 20%);
  display: inline-block;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  padding: 1.4rem 1.8rem;
  position: relative;
  color: var(--heading);
  animation: water-wave 3s linear infinite;
}

.material.icons::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(11, 15, 20, 0.9);
  width: 90%;
  height: 90%;
  border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  background-color: transparent;
  animation: water-wave 5s linear infinite alternate;
}

@keyframes water-wave {
  0% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
  50% {
    border-radius: 3% 97% 15% 85% / 72% 0% 100% 28%;
  }
  100% {
    border-radius: 56% 44% 70% 30% / 30% 54% 46% 70%;
  }
}

.section-footer {
  background: var(--heading);
}

.section-footer h3 {
  color: var(--third);
  margin-bottom: 4rem;
}

.f-about p {
  color: #adadad;
}

.f-links ul,
.f-services ul,
.f-address address {
  display: flex;
  flex-direction: column;
  gap: 1.8rem;
  justify-content: center;
  list-style: none;
}

.f-links li,
.f-links a,
.f-services li,
.f-services a {
  font-size: 1.8rem;
  color: #adadad;
  text-transform: capitalize;
}

.f-links span,
.f-services span,
.f-address span {
  margin-right: 1rem;
}

.f-address p {
  font-style: normal;
  color: #adadad;
}

.f-social-icons {
  margin: 5rem 0;
  text-align: center;
  color: #adadad;
}

.f-credits p {
  text-align: center;
  color: #adadad;
}

footer a:hover {
  color: var(--third);
}

.section {
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.8rem;
}

.f-social-icons a.logo {
  font-size: 80px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.f-address {
  margin-right: 0px;
  margin-top: 50px;
}
.f-links {
  margin-left: 40px;
  margin-top: 50px;
}
.f-about {
  margin-left: 40px;
  margin-top: 50px;
}
.footer .f-credits {
  margin-bottom: 20px;
}
.f-services {
  margin-top: 50px;
}
.header .pic {
  font-size: 10em;
}

.header .pic svg {
  vertical-align: middle;
}

.nnn:hover {
  transform: scale(1.05);
}
.nnn {
  transition: transform 0.3s ease-in-out;
  transform: scale(1);
}

@media only screen and (max-width: 768px) {
  .header {
    padding: 0 2rem;
    height: auto;
    flex-direction: column;
    align-items: center;
  }

  .navbar-lists {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar-link {
    font-size: 1.5rem;
  }

  .pic {
    margin-bottom: 1rem;
  }

  .newsout {
    flex-direction: column;
    margin-left: 0;
  }

  .next,
  .prev {
    display: none;
  }

  .footer {
    text-align: center;
  }

  .f-links,
  .f-services,
  .f-address,
  .f-about {
    margin: 0;
    text-align: center;
  }

  .f-links,
  .f-services {
    margin-top: 2rem;
  }

  .f-social-icons {
    margin: 2rem 0;
  }

  .f-social-icons a.logo {
    font-size: 40px;
    margin-right: 10px;
    margin-bottom: 5px;
  }

  .f-address {
    margin-top: 2rem;
  }
}
